@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/bootstrap-datetimepicker/less/datetimepicker.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@import "bower_components/gloit-component/less/gloit-component.less";

@import "./overrides/gloit-component.less";

@import "./gloit-app/registration.less";
@import "./gloit-app/sidelist.less";
@import "./gloit-app/table.less";
@import "./gloit-app/form.less";

@import "./global.less";

@base-color: @blue;

.ga, .ga-authenticated {
  height: 100%;
  overflow: hidden;
}

.ga-content {
  height: 100%;
  overflow: auto;
}
