@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/bootstrap-datetimepicker/less/datetimepicker.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@import "bower_components/gloit-component/less/gloit-component.less";

@import "./gloit-app/registration.less";
@import "./gloit-app/sidelist.less";
@import "./gloit-app/table.less";
@import "./gloit-app/form.less";

@base-color: @blue;

.gloit-app, .gloit-authenticated, .gloit-content {
  height: 100%;
  overflow: hidden;
}

.gc-sidebar {
  .gc-starter {
    ul.dropdown-menu {
      top: -25px;
    }
  }
}

// Overrides gloit component
input {
  color: @black !important;
}
