@import "vendor/bootstrap/less/bootstrap.less";
@import "vendor/bootstrap-datetimepicker/less/datetimepicker.less";
@import "vendor/font-awesome/less/font-awesome.less";
@import "vendor/gloit-component/less/gloit-component.less";

@import "./gloit-app/registration.less";
@import "./gloit-app/sidelist.less";
@import "./gloit-app/table.less";

@base-color: @blue;

.ember-application > .ember-view {
  height: 100%;
}

.gloit-app, .gloit-content {
  height: 100%;
  overflow: auto;
}

.gc-sidebar {
  .gc-starter {
    ul.dropdown-menu {
      top: -25px;
    }
  }
}

// Overrides gloit component
input {
  color: @black !important;
}
