.ga-content-sidebar {
  padding: 15px 10px;
  height: 100%;
  width: 300px;
  background: lighten(@sliver, 10%);
  border-right: 1px solid @sliver;
  overflow-y: auto;
  position: relative;
}

.ga-content-left-sidebar {
  .ga-content-sidebar;
  float: left;
}

.ga-content-right-sidebar {
  .ga-content-sidebar;
  float: right;
}

.ga-search-form {
  .form-group {
    margin-bottom: 5px;
    .row {
      margin: 0;
      > div {
        padding: 0;
      }
    }
  }

  .ga-select2 {
    height: 38px;
  }
}

.ga-content-left-search-form {
  .ga-content-left-sidebar;
  .ga-search-form;
}

.ga-content-right-search-form {
  .ga-content-right-sidebar;
  .ga-search-form;
}

// Deprecated
.ga-left-search-form {
  .ga-content-left-sidebar;
  .ga-search-form;
}

.ga-model-form {
  height: 100%;
  form {
    height: 100%;
    overflow: auto;
    .buttons {
      margin-bottom: 30px;
    }
  }
}

.has-success {
  span.help-block {
    display: none;
  }
}
